.form {
  border: solid 1px #010101;
  gap: 10px;
  display: flex;
  flex-direction: column;
  min-height: 80px;
  min-width: 320px;
  padding: 10px;
  background-color: #fff;
  border-radius: 4px;
}

.label {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn {
  background-color: #d9ea16;
  color: #fff;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #010101;
  flex-direction: column;
}

.boxdiv {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
